<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>868039132293-n1rnjr6eib7g26uvlbnivv85kfr2sfvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868039132293-n1rnjr6eib7g26uvlbnivv85kfr2sfvj</string>
	<key>API_KEY</key>
	<string>AIzaSyDx7A3a5-M3CrBeVBjnGRR5VbUsAgj-xdI</string>
	<key>GCM_SENDER_ID</key>
	<string>868039132293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>damirkazbekov.wordnik-ios</string>
	<key>PROJECT_ID</key>
	<string>wordnik-a0d31</string>
	<key>STORAGE_BUCKET</key>
	<string>wordnik-a0d31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:868039132293:ios:278e0a7691544801</string>
	<key>DATABASE_URL</key>
	<string>https://wordnik-a0d31.firebaseio.com</string>
</dict>
</plist>